.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .auth-form {
        width: 30%;
        min-width: 400px;
        max-width: 500px;
        height: 50%;
        margin-top: 40px;

        .auth-input {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            height: 45px;
        }

        input {
            width: calc(100% - 40px) !important;
        }

        .redirect {
            display: flex;
            justify-content: end;
            align-items: center;
            font-size: smaller;
            strong {
                color: #4B3F72;
                text-decoration: underline;
            }
        }

        .submit-btn {
            justify-self: end;
        }
    }
}

form {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .center-div {
        width: 30%;
    }

    .profile-icon {
        justify-self: center;
        height: 200px;
        width: 200px;
        background-image: url("../assets/icon.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .details {
        margin-top: 20px;
    }

    .reset-password {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .reset-btn {
            margin-top: 10px;
        }
    }

    .bottom-buttons {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        button {
            margin-right: 20px;
        }

        .logout {
            margin: 0 !important;
            background-color: rgb(255, 182, 46);
        }
    }
}

button:disabled {
    background-color: #9285bc;
}


.no-user {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}